{{/* Gera uma página por série/programa publicado a partir de data/audiovisual.yaml */}}
{{ .EnableAllLanguages }}
{{ $lang := .Site.Language.Lang }}
{{ range partialCached "dados.html" (dict "nome" "audiovisual" "lang" $lang) "audiovisual" $lang }}
  {{ if ne .status "aguardando" }}
    {{ $c := dict "mediaType" "text/markdown" "value" (.sinopse | default "") }}
    {{ $.AddPage (dict "path" .id "title" .titulo "kind" "page" "content" $c "params" .) }}
  {{ end }}
{{ end }}
